@model appli_gest_assoc.Models.Recette

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recette</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bureau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bureau.NomBureau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeRecette)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeRecette.Libelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRecette">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
