@model IEnumerable<appli_gest_assoc.Models.MembreBureau>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Bureau
            </th>
            <th>
                Matricule
            </th>
            <th>
                Prénom
            </th>
            <th>
                Nom
            </th>
            <th>
                Poste
            </th>
            <th>
                Date de création
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bureau.NomBureau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membre.IdMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membre.PrenomMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membre.NomMembre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMembreBureau">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMembreBureau">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMembreBureau">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
