@model appli_gest_assoc.Models.Association

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Association</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAssociation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAssociation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneeCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAssociation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
